		body
		{
			/* Background pattern from subtlepatterns.com */
			background-image: url("img/gridme.png");
			font-size: 20px;
		}
		#container
		{
			width:1500px;
			margin-left: auto;
			margin-right: auto;
		}
		#gora
		{
			margin-top: 20px;
			min-height:120px;
		}
		#logo
		{
			width:620px;
			font-family: "Comic Sans MS", cursive, sans-serif;
			font-size: 40px;
			padding: 15px;
		    float: left;
		}
		#Who
		{	
			width:820px;
			font-size: 30px;
			padding: 15px;
			float: left;	
		}
		#nawigacja
		{
			width:1500px;
			float: left;
			min-height: 100px;
		}
		.odnosniki
		{
			width: 300px;
			float: left;
			text-align: center;
			margin-top: 10px;
			font-size: 30px;
			border-style: solid ;
			margin-right: 30px;
		}
		.odnosniki:hover
		{
			background-color: #bbbbbb;
		}
		#srodek
		{
			width:1500px;
		}
		#zdjecie
		{
			float: left;
			width: 400px;
			min-height:450px;
			padding: 15px;
		}
		#prawe_dane
		{
			float: left;
			width: 1040px;
			min-height:450px;
		}
		.dane
		{
			min-height:160px;
			padding: 15px;

		}
		.dane_podzial
		{
			float: left;
			width: 40%;
		}
		#dol
		{
			border-top-style:dotted;
			width:1500px;
			min-height:100px;
			padding: 15px;
			clear:both;
		}
